<h1>Su carrito</h1>


    <div class="carrito">
        {{#each this.products}}
        <div class="items">
            <div class="img">
                <img src= {{this.thumbnails}}></img>
            </div>
            <div>
                <p>Nombre: {{this.title}}</p>
                <p>Precio: {{this.price}}</p>
                <p>Description: {{this.description}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Category: {{this.category}}</p>
                <p>quantity: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>